html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body > header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background: #1E272E;
    opacity: 1;
    z-index: 4;
    margin: 0 fill;
    /*overflow: paged-x;*/
}

body > main {
    position: absolute;
    width: 100vw;
    /*height: max-content;*/
    /*top: 60px;*/
    top: 60px;
    /*bottom: 60px;*/
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/

    /*overflow: visible ;*/
}

/*body > footer{*/
/*    position: absolute;*/
/*    top: 4200px;*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    !*bottom: 0;*!*/
/*    !*left: 0;*!*/
/*    !*right: 0;*!*/
/*    background: #EA2027;*/
/*}*/

body > header > div:nth-child(1) {
    position: absolute;
    /*display: block;*/
    /*box-sizing: border-box;*/
    width: fit-content;
    height: 60px;
    padding: 0;
    /*width: max-content;*/
    /*height: max-content;*/
    font-size: 35px;
    line-height: 60px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    left: 20px;
    margin: 0;
    color: #F5F6FA;
    cursor: pointer;

}

body > header > div:nth-child(1) > h3 {
margin: 0;
}

body > header > div > h3 > a > span {
    color: #EA2027;
}

body > header > div:nth-child(2) {
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    right: 50px;
    top: 0;
    font-size: 18px;
    color: #CED6E0;
    margin: auto;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

body > header > div > ul {
    /*position: absolute;*/
    list-style: none;
    padding: 0;
}

body > header > div > ul > li {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
}

a.page_nav {
    color: #CED6E0;
    text-decoration-color: initial;
    text-decoration: none;
}

.background {
    position: fixed;
    width: 100%;
    height: 750px;
    min-height: 740px;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: -5;
}
/*{*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 60px;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*background: #1E272E;*/
/*opacity: 1;*/
/*z-index: 4;*/
/*margin: 0;*/
/*}*/
body > main .home {
    position: absolute;
    width: 100%;
    height: 740px;
    min-height: 740px;
    top: 0;
    right: 0;
    /*left: 0;*/
    background: rgba(30, 39, 46, 0.65);
    /*z-index: 5;*/
    padding: 0;
}

.home h3 {
    position: relative;
    width: max-content;
    height: max-content;
    font-size: 72px;
    /*line-height: 88px;*/
    font-weight: 400;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 240px;
    font-family: 'Rasa', sans-serif;
    font-style: normal;
    /*left: 20px;*/
    margin: 0;
    color: #CED6E0;
}

.home h2 {
    position: relative;
    width: max-content;
    height: max-content;
    font-size: 60px;
    /*line-height: 78px;*/
    font-weight: 400;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 260px;
    font-family: 'Rasa', sans-serif;
    font-style: normal;
    margin: 0;
    color: #D2DAE2;
}

.home h2 > span {
    font-size: 90px;
    /*line-height: 85px;*/
    font-weight: bold;
    font-family: 'Nokora', sans-serif;
    font-style: normal;
    margin: 0;
    color: #FF9F1A;
}

.home h1 {
    position: relative;
    width: max-content;
    height: max-content;
    font-size: 90px;
    /*line-height: 78px;*/
    font-weight: 600;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 270px;
    font-family: 'Rasa', sans-serif;
    font-style: normal;
    margin: 0;
    color: #D2DAE2;
}

body > main .about {
    position: relative;
    width: 100%;
    height: 700px;
    /*height: 600px;*/
    /*min-height: 600px;*/
    top: 740px;
    background: #2F3640;
    /*z-index: 5;*/
    padding-top: 60px;
}
.title {
    position: absolute;
    width: 100%;
    height: 100px;
    color: #CED6E0;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Redressed', sans-serif;
    background: #353B48;
    padding-top: 30px;
}
/*.about div:nth-child(1) {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    color: #CED6E0;*/
/*    text-align: center;*/
/*    font-size: 45px;*/
/*    font-weight: 800;*/
/*    font-family: 'Redressed', sans-serif;*/
/*    background: #353B48;*/
/*    padding-top: 30px;*/
/*}*/

.about div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 160px;
    color: white;
    text-align: center;
    font-size: 30px;
    background: #2F3640;
}

.about article {
    position: absolute;
    /*display: flex;*/
    width: 94vw;
    height: 450px;
    top: 70px;
    color: white;
    left: 60px;
    text-align: justify;
    font-size: 28px;
    background: rgba(45, 52, 54, 0.9);
    border-radius: 60px;
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: space-between;
}

.about article > p {
    position: relative;
    left: 40px;
    top: 20px;
    /*right: 350px;*/
    width: 750px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    margin-right: 10px;
    padding-right: 10px;
    border: 10px;
}

.seimg {
    position: relative;
    width: 30%;
    height: 85%;
    right: 70px;
    top: 30px;
    border-radius: 40px;
    z-index: 2;
}

.about .contactme {
    position: absolute;
    background-color: #3867D6;
    width: 280px;
    height: 50px;
    bottom: 50px;
    left: 60px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    border: 3px solid #2D98DA;
    border-radius: 10px;
    color: black;
    text-decoration-color: initial;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 10px;
    margin: 0;
    background-image: url("../img/icon/icons8-phone-52.png");
    background-position: 10px;
    background-repeat: no-repeat;

}

.about .downloadcv {
    position: absolute;
    background-color: #20BF6B;
    width: 320px;
    height: 50px;
    bottom: 50px;
    left: 480px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    border: 3px solid #68e8a7;
    border-radius: 10px;
    color: black;
    text-decoration-color: initial;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 10px;
    margin: 0;
    background-image: url("../img/icon/icons8-download-48.png");
    background-position: 7px;
    background-repeat: no-repeat;
}

/*body > aside {*/
/*    position: fixed;*/
/*    display: grid;*/
/*    top: 500px;*/
/*    !*bottom: 500px;*!*/
/*    left: 0;*/
/*    width: 50px;*/
/*    !*top: 50px;*!*/
/*    height: 250px;*/
/*    grid-template-rows: repeat(5, 1fr);*/
/*    grid-template-columns: repeat(1, 1fr);*/
/*    border: 5px solid green;*/
/*    background-color: #20BF6B;*/
/*    z-index: 3;*/
/*}*/

.skills{
    position: relative;
    width: 100%;
    height: 700px;
    /*height: 600px;*/
    /*min-height: 600px;*/
    top: 740px;
    background: #2F3640;
    /*z-index: 5;*/
    padding-top: 60px;
}

/*.skills div:nth-child(1) {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    color: #CED6E0;*/
/*    text-align: center;*/
/*    font-size: 45px;*/
/*    font-weight: 800;*/
/*    font-family: 'Redressed', sans-serif;*/
/*    background: #353B48;*/
/*    padding-top: 30px;*/
/*}*/

.skills div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 160px;
    color: white;
    text-align: center;
    font-size: 30px;
    background: #2F3640;
}

.skill-list{
    position: relative;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    justify-items: center;
    width: 80%;
    max-width: 80%;
    height: 500px;
    left: 10%;
    top: 15%;
    /*border: 2px solid lawngreen;*/
}

.skill-list section{
    /*position: relative;*/
    width: 160px;
    height: 160px;
    border: 2px solid #2D98DA;
}

.skill-list section:hover{
    /*border: 3px solid rgb(4, 239, 44);*/
    width: 163px;
    height: 163px;
}

.skill-list .java-icon{
    background: url("../img/icon/skills-icon/icons8-java-480.png");
    background-size: cover;
}
.skill-list .mysql-icon{
    background: url("../img/icon/skills-icon/icons8-mysql-logo-500.png");
    background-size: cover;
}
.skill-list .html5-icon{
    background: url("../img/icon/skills-icon/icons8-html-5-480.png");
    background-size: cover;
}
.skill-list .css3-icon{
    background: url("../img/icon/skills-icon/icons8-css3-480.png");
    background-size: cover;
}
.skill-list .js-icon{
    background: url("../img/icon/skills-icon/icons8-javascript-480.png");
    background-size: cover;
}
.skill-list .php-icon{
    background: url("../img/icon/skills-icon/icons8-php-logo-512.png");
    background-size: cover;
}
.skill-list .node-icon{
    background: url("../img/icon/skills-icon/icons8-nodejs-480.png");
    background-size: cover;
}
.skill-list .python-icon{
    background: url("../img/icon/skills-icon/icons8-python-480.png");
    background-size: cover;
}
.skill-list .react-icon{
    background: url("../img/icon/skills-icon/icons8-react-480.png");
    background-size: cover;
}
.skill-list .linux-icon{
    background: url("../img/icon/skills-icon/icons8-linux-96.png");
    background-size: cover;
}

.services{
    position: relative;
    width: 100%;
    height: 700px;
    /*height: 600px;*/
    /*min-height: 600px;*/
    top: 740px;
    background: #2F3640;
    /*z-index: 5;*/
    padding-top: 60px;
}

/*.services .title {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    color: #CED6E0;*/
/*    text-align: center;*/
/*    font-size: 45px;*/
/*    font-weight: 800;*/
/*    font-family: 'Redressed', sans-serif;*/
/*    background: #353B48;*/
/*    padding-top: 30px;*/
/*}*/

.services div:nth-child(2) {
    position: absolute;
    display: flex;
    width: 100%;
    height: 600px;
    top: 160px;
    color: white;
    text-align: center;
    font-size: 30px;
    background: #2F3640;
}

.service-list{
    position: relative;
    display: flex;
    width: 90%;
    max-width: 80%;
    height: 500px;
    left: 10%;
    top: 15%;
    /*justify-content: center;*/
    justify-content: space-between;
}

.service-list section{
    width: 350px;
    height: 400px;
    /*border: 2px solid #2D98DA;*/
    background: rgb(26, 28, 29);
    border-radius: 10%;
    /*text-align: center;*/
    margin-bottom: 20px;
    cursor: pointer;
    color: #CED6E0;
}

.service-list .services-title{
    position: relative;
    width: 320px;
    height: max-content;
    font-size: 26px;
    font-family: 'Nokora', sans-serif;
    font-style: normal;
    margin: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 250px;
}
.service-list .service-icon{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    width: 150px;
    height: 100px;
    /*background: green;*/
    border: 2px solid white;
}

.portfolio{
    position: relative;
    width: 100%;
    height: 700px;
    /*height: 600px;*/
    /*min-height: 600px;*/
    top: 740px;
    background: #2F3640;
    /*z-index: 5;*/
    padding-top: 60px;
}

/*.portfolio div:nth-child(1) {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    color: #CED6E0;*/
/*    text-align: center;*/
/*    font-size: 45px;*/
/*    font-weight: 800;*/
/*    font-family: 'Redressed', sans-serif;*/
/*    background: #353B48;*/
/*    padding-top: 30px;*/
/*}*/

.portfolio div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 160px;
    color: white;
    text-align: center;
    font-size: 30px;
    background: #2F3640;
}
.contact{
    position: relative;
    width: 100%;
    height: 700px;
    /*height: 600px;*/
    /*min-height: 600px;*/
    top: 780px;
    background: #2F3640;
    /*z-index: 5;*/
    padding-top: 60px;
}

/*.contact div:nth-child(1) {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    color: #CED6E0;*/
/*    text-align: center;*/
/*    font-size: 45px;*/
/*    font-weight: 800;*/
/*    font-family: 'Redressed', sans-serif;*/
/*    background: #353B48;*/
/*    padding-top: 30px;*/
/*}*/

.contact div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 160px;
    color: white;
    text-align: center;
    font-size: 30px;
    background: #2F3640;
}