* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    padding: 100px 0;
}

.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background: #353B48;
    color: #CED6E0;
    border-radius: 60px;
}
.about , .skills , .services , .portfolio , .contact{
    font-family: 'Roboto', sans-serif;
    background: #2F3640;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

    /*header section  */

.fa-header {
    position: fixed;
    width: 100%;
    z-index: 4;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    background: #1E272E;
    opacity: 1;
}

.fa-header .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    padding: 0
}

.fa-header .logo a {
    color: #F5F6FA;
    font-size: 35px;
    font-weight: 600;
}

.fa-header .logo a span {
    color: #EA2027;
}

.fa-header .menu li {
    /*list-style-image: initial;*/
    list-style: none;
    display: inline-block;
    margin: 0;
}

.fa-header .menu li a {
    display: block;
    color: #CED6E0;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

a .page_nav {
    color: #CED6E0;
    text-decoration-color: initial;
    text-decoration: none;
}

    /*home section*/

.home-background {
    background: url("../img/twitter-accounts-better-writing-940x470.jpg") no-repeat center fixed;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    z-index: -5;
}

.home {
    height: 100vh;
    /*min-height: 500px;*/
    color: #CED6E0;
    background-color: rgba(30, 39, 46, 0.75);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    z-index: 1;
}

.home .home-content {
    padding-top: 15%;
    /*min-width: 300px;*/
}

.home .home-content .text-1 {
    font-size: 55px;
    text-align: center;
}

.home .home-content .text-2 {
    font-size: 65px;
    padding-top: 20px;
    text-align: center;
}

.home .home-content .text-2 span {
    color: #FF9F1A;
    font-weight: bold;
}

.home .home-content .text-3 {
    font-size: 80px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

    /*about section  */

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background: rgba(45, 52, 54, 0.9);
    color: #F7F1E3;
    font-size: 25px;
    /*height: 450px;*/
    padding: 50px;
}

.about .about-content .left {
    width: 55%;
    padding-left: 20px;
}

.about .about-content .right {
    width: 40%;
    margin-left: 50px;
}

.about .about-content .right .seimg {
    height: 350px;
    border-radius: 15px;
}

.about .about-content .left a {
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: black;
    text-decoration-color: initial;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 6px;
}

.about .about-content .left .contactme {
    background-color: #3867D6;
    border: 3px solid #2D98DA;

}

.about .about-content .left .downloadcv {
    background-color: #20BF6B;
    border: 3px solid #68e8a7;
    margin-left: 120px;
}

    /*skills section*/

.skills-content {
    display: grid;
    grid-gap: 20px 50px;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    color: #F7F1E3;
    /*font-size: 25px;*/
    height: 450px;
}

.skills-content section {
    padding: 10px 10px;
    width: 160px;
    height: 160px;
    border: 2px solid #2D98DA;
    cursor: pointer;
}

.skills-content section:hover {
    width: 163px;
    height: 163px;
}

.skills-content .java-icon {
    background: url("../img/icon/skills-icon/icons8-java-480.png");
    background-size: cover;
}

.skills-content .mysql-icon {
    background: url("../img/icon/skills-icon/icons8-mysql-logo-500.png");
    background-size: cover;
}

.skills-content .html5-icon {
    background: url("../img/icon/skills-icon/icons8-html-5-480.png");
    background-size: cover;
}

.skills-content .css3-icon {
    background: url("../img/icon/skills-icon/icons8-css3-480.png");
    background-size: cover;
}

.skills-content .js-icon {
    background: url("../img/icon/skills-icon/icons8-javascript-480.png");
    background-size: cover;
}

.skills-content .php-icon {
    background: url("../img/icon/skills-icon/icons8-php-logo-512.png");
    background-size: cover;
}

.skills-content .node-icon {
    background: url("../img/icon/skills-icon/icons8-nodejs-480.png");
    background-size: cover;
}

.skills-content .python-icon {
    background: url("../img/icon/skills-icon/icons8-python-480.png");
    background-size: cover;
}

.skills-content .react-icon {
    background: url("../img/icon/skills-icon/icons8-react-480.png");
    background-size: cover;
}

.skills-content .linux-icon {
    background: url("../img/icon/skills-icon/icons8-linux-96.png");
    background-size: cover;
}

    /*services section*/

.services .service-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .service-list section{
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin-bottom: 20px;
    width: 350px;
    height: 250px;
    cursor: pointer;
}
.services .service-list section:hover{
    background: #1E272E;
}
.services .service-list section:hover .services-content{
   transform: scale(1.03);
}
.services .service-list section:hover .service-icon{
    color: rgba(255, 0, 0, 0.84);
}
.service-icon{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-bottom: 80px;
    font-size: 60px;
    text-align: center;
    color: #CED6E0;
}

.services-title{
    color: rgb(232, 230, 227);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
    /*portfolio section  */
